#overview,
#go-to-market,
#organization {
  & [data-part="widget"] {
    min-width: 0;
    gap: var(--noora-spacing-5);
  }

  & [data-part="widget-header"] {
    display: flex;
    align-items: center;
    gap: var(--noora-spacing-3);
  }

  & [data-part="widget-legend"] {
    border-radius: var(--noora-radius-1);
    background-color: var(--noora-chart-primary);
    width: var(--noora-spacing-2);
    height: var(--noora-icon-size-large);
  }

  & [data-part="widget-label"] {
    color: var(--noora-surface-label-primary);
    font: var(--noora-font-weight-medium) var(--noora-font-body-small);
  }

  & [data-part="widget-value"] {
    color: var(--noora-surface-label-primary);
    font: var(--noora-font-weight-medium) var(--noora-font-heading-xlarge);
  }

  & [data-part="widget"][data-tone="warning"] [data-part="widget-legend"] {
    background-color: var(--noora-chart-p50);
  }

  & [data-part="widget"][data-tone="success"] [data-part="widget-legend"] {
    background-color: var(--noora-chart-tertiary);
  }

  & [data-part="widget"][data-tone="information"] [data-part="widget-legend"] {
    background-color: var(--noora-chart-secondary);
  }
}
