---
permalink: /latest/index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="canonical" href="/v{{ site.spec.latest }}/">
    <meta http-equiv="refresh" content="0; url=/v{{ site.spec.latest }}/">
  </head>
  <body>
    <p>Redirecting to <a href="/v{{ site.spec.latest }}/">/v{{ site.spec.latest }}/</a>.</p>
  </body>
</html>
