---
permalink: /index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="canonical" href="/latest/">
    <meta http-equiv="refresh" content="0; url=/latest/">
  </head>
  <body>
    <p>Redirecting to <a href="/latest/">/latest/</a>.</p>
  </body>
</html>
