---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { siteTitle, siteDescription } from "../constants";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={siteTitle} description={siteDescription} />
  </head>
  <body class="body">
    <Header />
    <slot />
    <Footer />
  </body><style>
    .body {
      margin-left: var(--size-2);
      margin-right: var(--size-2);
      margin-top: var(--size-2);
      margin-bottom: var(--size-2);
    }
    @media (min-width: 768px) {
      .body {
        margin-left: var(--size-4);
        margin-right: var(--size-4);
      }
    }
  </style>
</html>
