<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] h-full">
  <head>
    <.head_base />
    <.live_title suffix=" · Glossia">
      <%= assigns[:page_title] || "Glossia" %>
    </.live_title>
    <style>
      [x-cloak]{display:none}
    </style>
    <.head_alpine />
    <.head_assets surface="app" />
    <.head_posthog />
    <.primer />
  </head>
  <body class="bg-white antialiased h-full">
    <%= @inner_content %>
  </body>
</html>
