<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] h-full">
  <head>
    <.head_base />
    <.live_title>
      <%= Glossia.Foundation.Application.Web.Helpers.OpenGraph.get_open_graph_metadata(assigns)[
        :title
      ] %>
    </.live_title>
    <style>
      [x-cloak]{display:none}
    </style>
    <.head_alpine />
    <.head_assets surface="app" />
    <.head_posthog />
    <.head_og assigns={assigns} />
    <.primer />
  </head>
  <body class="bg-white antialiased h-full">
    <%= @inner_content %>
  </body>
</html>
