<section class="2xl:max-w-7xl mx-auto hidden md:block">
  <div class="mx-auto bg-lila-500 border-t-2 border-black 2xl:border-r-2 2xl:border-l-2">
    <div class="text-center p-8 lg:p-20 2xl:px-0 flex flex-row gap-x-10 items-center justify-center">
      <span class="font-bold text-9xl">GLOSSIA</span>
      <img src="/images/logo-mit-shadow.svg" class="w-28 h-28" />
    </div>
  </div>
</section>
<!-- Navigation -->
<.navigation />
<!-- Features -->
<section class="border-b-2 border-black 2xl:max-w-7xl mx-auto 2xl:border-x-2">
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20 2xl:px-5">
    <section class="grid grid-cols-1 items-baseline gap-y-10 gap-6">
      <div class="max-w-xl mx-auto text-center">
        <div>
          <h2 class="text-5xl font-display text-black">The True Continuous Localization</h2>
          <h2 class="text-5xl font-display text-black">powered by AI</h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Experience localization like never before.
          </p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-12 mt-12">
        <div class="shadow-large rounded-xl p-4 lg:p-8 border-2 border-black bg-red-500">
          <h2 class="text-3xl tracking-tight text-black">Localize With Lightning Speed</h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Powering up your Github projects with quick-fire localization. Any framework, any time! Powered by ChatGPT.
          </p>
        </div>
        <div class="shadow-large rounded-xl p-4 lg:p-8 border-2 border-black bg-lila-500">
          <h2 class="text-3xl tracking-tight text-black">
            Continuous Localization: Your CI/CD Ally
          </h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Embrace the new norm - Glossia infuses localization into your CI/CD pipeline, smoothing the road to swift global launches.
          </p>
        </div>
        <div class="shadow-large rounded-xl p-4 lg:p-8 border-2 border-black bg-black">
          <h2 class="text-3xl tracking-tight text-lila-500">
            Unleash International Growth From the Get-Go
          </h2>
          <p class="xl:text-xl tracking-tight text-lila-500 mt-3">
            Unlock your international potential instantly. Your global impact starts now.
          </p>
        </div>
        <div class="shadow-large rounded-xl p-4 lg:p-8 border-2 border-black bg-yellow-500">
          <h2 class="text-3xl tracking-tight text-black">AI at the Heart of Localization</h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Glossia leverages AI at its core. It's designed to streamline and automate your localization systems, making the process as smooth as possible.
          </p>
        </div>
        <div class="shadow-large rounded-xl p-4 lg:p-8 border-2 border-black bg-white">
          <h2 class="text-3xl tracking-tight text-black">
            AI + Human Expertise: The Ultimate Localization Combo
          </h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            This dynamic duo elevates Glossia from a powerful tool to an indispensable asset for any organization stepping onto the global stage.
          </p>
        </div>
        <div class="shadow-large rounded-xl p-4 lg:p-8 border-2 border-black bg-green-500">
          <h2 class="text-3xl tracking-tight text-black">
            Fine-tune your model
          </h2>
          <p class="xl:text-xl tracking-tight text-black mt-3">
            Glossia is more than just translations; it's a commitment to linguistic excellence. It learns, adapts, and refines, for ever-improving accuracy thanks to our feedback loops.
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
<!-- Frameworks -->
<section>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20 2xl:px-0">
    <div class="max-w-xl mx-auto text-center">
      <h2 class="text-3xl lg:text-5xl font-display text-black">
        Swift Framework Setup
      </h2>
      <p class="xl:text-xl tracking-tight text-black mt-3">
        Unleash the power of automation! Our savvy system instantly identifies
        your tech stack, readies your project for effortless localization, and
        kickstarts the process - all without lifting a finger. Witness the magic
        of streamlined efficiency!
      </p>
    </div>
    <ol role="list" class="divide-y-2 mt-16 flex flex-wrap gap-3 mx-auto justify-center">
      <%= for framework <- frameworks() do %>
        <li>
          <a href={framework.url} aria-label={framework.alt}>
            <span class="text-black items-center shadow-[5px_5px_black] inline-flex px-8 focus:outline-none justify-center text-center bg-white border-black ease-in-out hover:text-white transform transition hover:shadow-none border-2 duration-200 hover:bg-green-300 lg:w-auto py-3 rounded-xl w-full">
              <img src={"/images/frameworks/" <> framework.image} class="h-8" />
            </span>
          </a>
        </li>
      <% end %>
    </ol>
  </div>
</section>
<!-- FAQ -->
<section class="relative flex items-center w-full border-b-2 border-black bg-white">
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="relative p-8 lg:p-20 items-center gap-12 h-full">
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-3xl lg:text-5xl font-display text-black">
          Frequently asked questions
        </p>
      </div>
      <div class="relative items-center w-full mx-auto mt-12 max-w-3xl">
        <div class="space-y-6">
          <details class="p-8 border-2 border-black shadow bg-white">
            <summary class="text-2xl tracking-tight text-black focus:text-violet-500 items-center justify-between">
              How is Glossia different from Google Translate?
            </summary>
            <p class="xl:text-2xl tracking-tight text-black pt-6">
              While traditional machine translation engines such as Google Translate rely heavily on rule-based or statistical models (although they are integrating Neural Machine Translation and AI), Glossia dances to a different tune. We harness the power of AI for translations, but the true star of the show is how we seamlessly integrate into your software project and streamline the localization process.
            </p>
          </details>
          <details class="p-8 border-2 border-black shadow bg-white">
            <summary class="text-2xl tracking-tight text-black focus:text-violet-500 items-center justify-between">
              Can I trust Glossia with my data?
            </summary>
            <p class="xl:text-2xl tracking-tight text-black pt-6">
              Absolutely! At Glossia, we don't just respect your data; we treasure it. We're fully GDPR compliant, and we don't store or copy your data to our AI service.
            </p>
          </details>
          <details class="p-8 border-2 border-black shadow bg-white">
            <summary class="text-2xl tracking-tight text-black focus:text-violet-500 items-center justify-between">
              Will Glossia offer an API?
            </summary>
            <p class="xl:text-2xl tracking-tight text-black pt-6">
              Glossia is always evolving, and an API is on our radar. So, stay tuned and don't forget to subscribe to our blog for all the latest updates.
            </p>
          </details>
          <details class="p-8 border-2 border-black shadow bg-white">
            <summary class="text-2xl tracking-tight text-black focus:text-violet-500 items-center justify-between">
              Do I need a background in software development to use Glossia?
            </summary>
            <p class="xl:text-2xl tracking-tight text-black pt-6">
              For now, some software development knowledge is necessary to start using Glossia. But don't worry, we're tirelessly working towards simplifying the process. Our vision is to make Glossia so user-friendly that you won't need to be a coding wizard to use it.
            </p>
          </details>
          <details class="p-8 border-2 border-black shadow bg-white">
            <summary class="text-2xl tracking-tight text-black focus:text-violet-500 items-center justify-between">
              How does Glossia ensure translation quality?
            </summary>
            <p class="xl:text-2xl tracking-tight text-black pt-6">
              Quality is at the heart of Glossia. Our AI-powered system learns and improves over time, but we also rely on the invaluable human touch and feedback. Glossia believes in a synergy between AI and human translators, ensuring top-notch translation quality while reducing costs and increasing speed.
            </p>
          </details>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<.footer />
