<section class="2xl:max-w-7xl mx-auto hidden md:block">
  <div class="mx-auto bg-lila-500 border-t-2 border-black 2xl:border-r-2 2xl:border-l-2">
    <div class="text-center p-8 lg:p-20 2xl:px-0 flex flex-row gap-x-10 items-center justify-center">
      <span class="font-bold text-9xl">GLOSSIA</span>
      <img src="/images/logo.svg" class="w-28 h-28" />
    </div>
  </div>
</section>
