<div class="divider">
  <svg
    width="768"
    height="27"
    viewBox="0 0 768 27"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    ><g clip-path="url(#clip0_5003_1198)"
      ><rect width="768" height="27" fill="transparent"></rect><circle
        cx="2.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="2.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="19.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="69.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="119.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="169.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="219.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="269.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="319.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="369.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="419.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="469.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="519.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="569.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="619.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="669.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="719.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="19.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="69.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="119.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="169.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="219.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="269.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="319.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="369.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="419.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="469.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="519.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="569.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="619.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="669.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="719.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="36.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="86.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="136.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="186.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="236.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="286.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="336.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="386.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="436.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="486.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="536.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="586.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="636.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="686.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="736.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="36.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="86.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="136.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="186.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="236.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="286.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="336.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="386.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="436.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="486.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="536.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="586.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="636.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="686.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="736.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="53.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="103.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="153.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="203.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="253.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="303.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="353.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="403.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="453.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="503.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="553.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="603.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="653.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="703.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="753.5"
        cy="2.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="53.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="103.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="153.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="203.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="253.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="303.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="353.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="403.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="453.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="503.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="553.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="603.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="653.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="703.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="753.5"
        cy="24.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="45.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="95.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="145.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="195.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="245.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="295.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="345.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="395.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="445.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="495.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="545.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="595.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="645.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="695.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="745.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="28.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="78.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="128.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="178.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="228.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="278.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="328.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="378.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="428.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="478.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="528.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="578.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="628.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="678.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="728.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="11.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="61.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="111.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="161.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="211.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="261.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="311.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="361.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="411.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="461.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="511.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="561.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="611.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="661.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="711.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle><circle
        cx="761.5"
        cy="13.5"
        r="2.5"
        fill="#F2F2F2"></circle></g
    ></svg
  >
</div>

<style>
  .divider {
    margin: 0;
    padding: 0;
  }
</style>