---
const today = new Date();
---

<footer>
	<p>
		<span>@glossiaai</span> · <a>Terms of service</a> · <a>Status</a> · <a>Cookie Policy</a> · <a>Privacy</a>
	</p>
</footer>
<style>
	footer {
		font-size: var(--font-size-1);
		color: var(--gray-7);
		margin-top: var(--size-10);
		margin-bottom: var(--size-10);
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	}
	@media screen and (min-width: 636px) {
	footer {

		margin-left: var(--size-12);
		margin-right: var(--size-12);
	}
  }
</style>
