---
import HeaderLink from './HeaderLink.astro';
import Logo from "./Logo.astro"
import { siteTitle } from '../constants';
---

<header>
	<nav class="navigation">
		<Logo size="30"/>
		<span class="title">Glossia</span>

		<ul class="links">
			<a class="link" href="https://glossia.ai/docs">Docs</a>
			<a class="link" href="https://glossia.ai/handbook">Handbook</a>
			<a class="link" href="https://github.com/glossia/glossia">GitHub</a>
			<a class="login" href="https://glossia.ai/auth/github">Login with GitHub</a>
		</ul>
	</nav>
</header>

<style>
	.links {
		margin-left: auto;
		& > * + * {
			margin-left: var(--size-2);
		}

		& .login {
			text-decoration: none;
			color: var(--gray-7);
			padding: var(--size-2) var(--size-3);
			background-color: var(--gray-3);
			font-size: var(--font-size-2);
			border-radius: var(--border-size-3);

			&:hover {
				background-color: var(--gray-4);
			}
		}

		& .link {
			color: var(--gray-7);
			text-decoration: none;
			font-size: var(--font-size-2);

			&:hover {
				color: var(--violet-5);
			}
		}
	}

	.navigation {
		display: flex;
		flex-direction: row;
		align-items: center;

	}

	.title {
		font-weight: var(--font-weight-6);
		margin-left: var(--size-2);
	}
</style>
