<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] h-full">
  <head>
    <.head_base />
    <.primer />
    <.head_assets surface="docs" />
    <.head_og assigns={assigns} />
  </head>
  <body class="bg-white antialiased h-full">
    <%= @inner_content %>
  </body>
</html>
