<!DOCTYPE html>
<html
  lang="en"
  class="scroll-smooth selection:bg-black selection:text-lila-500 no-touchevents hydrated"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/marketing.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/marketing.js"}>
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link href="https://fonts.cdnfonts.com/css/source-sans-pro" rel="stylesheet" />
    <!-- Alpinejs --->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js">
    </script>
  </head>
  <body class="border-x-2 border-black bg-white">
    <main class="h-full">
      <%= @inner_content %>
    </main>
  </body>
</html>
